
<theme-dialog>
  <dialog 
    id="search-dialog" 
    class="drawer drawer-left dialog" 
    aria-labelledby="search-dialog-title">
    <div class="dialog-header">
      <h2 id="search-dialog-title" class="dialog-title">
        {{ 'search.title' | t }}
      </h2>
      <button type="button" class="btn-icon dialog-close" data-dialog-close>  
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
          <line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
      </button>
    </div>
    <div class="dialog-body">
      <predictive-search
        class="predictive-search">
        <form 
          action="{{ routes.search_url }}" 
          method="get" 
          role="search" 
          class="search-form">
          <label 
            for="search-input" 
            class="visually-hidden">
            {{ 'search.label' | t }}
          </label>
          <input
            type="search"
            id="search-input"
            class="search-input input"
            name="q"
            value="{{ search.terms | escape }}"
            placeholder="{{ 'search.placeholder' | t }}"
            role="combobox"
            aria-label="{{ 'search.label' | t }}"
            aria-expanded="false"
            aria-owns="predictive-search"
            aria-controls="predictive-search"
            aria-haspopup="listbox"
            aria-autocomplete="list"
          />
          <input type="hidden" name="options[prefix]" value="last" />
          <div 
            id="predictive-search-status"
            class="visually-hidden"
            aria-live="polite"
            aria-atomic="true">
          </div>
          <div 
            id="predictive-search" 
            tabindex="-1"
            role="region"
            aria-live="off">
          </div>
        </form>
      </predictive-search>
    </div>
  </dialog>
</theme-dialog>
